.button {
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
  align-items: center;
  border-radius: 18px;
  gap: 4px;
  color: var(--color-black);
  cursor: pointer;
  font-size: 14px;
}
.button:hover {
  background-color: var(--color-surface);
}

.active{
   background-color: var(--color-surface);
}